* {
  padding: 0; /* Reset `padding` and `margin` of all elements */
  margin: 0;
  border: none;
}

body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 60px 30%;
}

@media screen and (max-width: 499px) {
  body {
    margin: 60px 40px;
  }
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 50px;
  width: 50px;
  margin: -1px;
  padding: 0;
  text-align: center;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}

.discription {
  display: block;
  margin-bottom: 30px;
}

.right {
  text-align: right;
  margin-bottom: 20px;
}
